<!--[]类到模板-->
<!--()模板到类-->
<!--{{}}Angular的差值表达式-->
<h2 xmlns="">My Heros</h2>
<!--add button 模板变量：#heroNo-->
<div>
  <label>Hero no:</label> <input #heroNo/>
  <label>Hero name:</label> <input #heroName/>
  <button (click)="add(heroNo.value, heroName.value);heroNo.value='';heroName.value=''">
    Add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let i of heroes"
      [class.selected]="isSelected(i)"
      (click)="onSelect(i)">
    <span class="badge">{{i.no}}</span> {{i.name}}
    <button class="delete"
            (click)="delete(i); $event.stopPropagation()">x
    </button>
  </li>
</ul>
<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

